In [68]:
import pandas as pd

In [69]:
# creates (or opens in append mode) an hdf5 file
hdf = pd.HDFStore('/home/noureddin/Desktop/hdf5_pandas.h5')

In [70]:
df1 = pd.read_csv('/home/noureddin/Downloads/FL_insurance_sample.csv/FL_insurance_sample.csv')# put the dataset in the storage
hdf.put('DF1', df1, format='table', data_columns=True)

In [71]:
data = {
         "city": ["Tripoli", "Sydney", "Tripoli", "Rome", "Rome", "Tripoli","Rome", "Sydney", "Sydney"],
         "rank": ["1st", "2nd", "1st", "2nd", "1st", "2nd","1st", "2nd", "1st"], 
         "score1": [44, 48, 39, 41, 38, 44, 34, 54, 61],
         "score2": [67, 63, 55, 70, 64, 77, 45, 66, 72]
        }
        
df2 = pd.DataFrame(data, columns = ['city', 'rank','score1','score2'])

In [72]:
df2

      city rank  score1  score2
0  Tripoli  1st      44      67
1   Sydney  2nd      48      63
2  Tripoli  1st      39      55
3     Rome  2nd      41      70
4     Rome  1st      38      64
5  Tripoli  2nd      44      77
6     Rome  1st      34      45
7   Sydney  2nd      54      66
8   Sydney  1st      61      72

In [73]:
hdf.put('DF2Key', df2,format='table', data_columns=True)

In [74]:
hdf.close() # close the hdf5 file